/AddressBook/.vs
/AddressBook/AddressBook/bin
/AddressBook/AddressBook/obj
/AddressBook/AddressBookClient/bin
/AddressBook/AddressBookClient/obj
/AddressBook/AddressBookService/bin
/AddressBook/AddressBookService/obj
