<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="WoodFireRisk" value="0.5" />
		<add key="FillingWithWood" value="0.4" />
		<add key="HeightMap" value="20" />
		<add key="WidthMap" value="20" />
		<add key="Interval" value="2000" />
	</appSettings>
</configuration>